.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background: rgb(4, 26, 51);
  background: linear-gradient(
    250deg,
    rgba(4, 26, 51, 1) 0%,
    rgba(112, 163, 219, 1) 70%
  );
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}
